@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.section {
    padding:0 var(--padding-l);
}

#app {
    width: 375px;
    background: var(--primary-bg);
    font-family: var(--ff-assistant);
}

.upper {
    text-transform: uppercase;
    font-size: var(--fs-s);
}

.paragraph {
    font-size: var(--fs-xxs);
    color: var(--secondary-text-color);
    margin-top: var(--margin-s);
}

.direction__paragraph {
    font-size: calc(var(--fs-xxs) - 2px);
}

.title {
    font-size: var(--fs-m);
    font-family: var(--ff-kaisei);
    color: var(--primary-text-color);
    margin-top: var(--margin-xl);
}

.sub-title {
    margin-top: var(--margin-xl);
    font-size: var(--fs-xs);
    font-family: var(--ff-kaisei);
    color: var(--primary-text-color);
    
}

.image {
    width: 296px;
    margin-top: var(--margin-m);
}

.header {
    padding-top: var(--margin-l);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
   display: none;
}
.line {
    width: 18px;
    height: 2px;
    background: var(--primary-text-color);
    margin-top: 3px;
}

.preview {
    background: url("../public/images/backgrounds/background-1.png");
    background-position: center;
    background-size: 1000px;
    height: 476px;
    color: var(--primary-text-color);
}

.preview__title {
    margin-top: var(--margin-xxl);
    font-family: var(--ff-kaisei);
    font-size: var(--fs-l);
}

.preview__paragraph {
    margin-top: var(--margin-xs);
}

.player__bg {
    width: 375px;
}

.player__play {
    width: 20px;
    height: 20px;
    position: relative;
    top : -80.5px;
    left : 50%;
    transform: translate(50%,-10px);
}

.about-us__title {
    margin-top: 40px;
}
.direction-def{
   display: none;
}

.mt-20 {
    margin-top: 20px;
}

@media(min-width:1512px){
   #app{
      width: 1512px;
   }
   .burger-menu{
      display: none;
   }
   .upper {
      font-size: var(--fs-m);
  }
   
   .navigation{
      display: flex;
      justify-content: space-between;
      width: 600px;
      
   }
   .nav{
      display: flex;
      justify-content: space-between;
      font-family: "kaisei" ;
      font-size: var(--fs-s);
      font-weight: 400;
   }

   .preview {
      background: url("../public/images/backgrounds/background-1.png");
      background-size: 1512px;
      height: 841px;
  }

  .preview__title {
   margin-top: 245px;
   font-size: var(--fs-xxl);
  }
  .player{
   height: 599px;
  }
  .player__bg {
   width: 1512px;
}

.player__play {
   width: 60px;
   height: 60px;
   position: relative;
   top : -270px;
   left : 48%;
   transform: translate(0%, -60px);
}


.title {
   font-size: var(--fs-xl) ;
}

.about-us__paragraph{
   width: 692px;
}
.paragraph{
   font-size: var(--fs-s);
}
.about-us__paragraph .paragraph:first-child{
   margin-top: var(--margin-xxl);
}

.image {
   width: 1256px;
   margin-top: var(--margin-xxl);
}

.section{
   padding:  calc(var(--margin-xxxl) - 8px) var(--margin-xxxl) 0 var(--margin-xxxl) ;
}
.section:first-child{
   padding:  0 var(--margin-xxxl) ;
}

.sub-title{
   font-size: calc(var(--fs-m) + 4px);
   font-weight: 400;
   font-family: var(--ff-assistant);
}

.direction{
   display: none;
}
.direction-def{
   display: unset;
}

.direction-def__group{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top:var(--margin-m) ;
}
.direction-def__paragraph{
   width: 736px;
}
.direction-def__image{
   width: 259px;
   height: 92px;
}
.direction-def__group .paragraph{
   margin-top: 0;
}

}